

/* MAIN STYLING */

/* .find-pro-container main {
    padding: 60px;
} */

.find-pro-container main h1 {
    padding: 60px 60px 0px 60px;
}

.find-pro-container .subtitle {
    font-weight: normal;
    padding: 0px 60px 40px 60px;
}

/* legend container */

.find-pro-container .legend {
    padding: 0px 60px;
}

.find-pro-container .legend .legend-items-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}

.find-pro-container .legend .markers {
    height: 20px;
    width: 20px;
    border-radius: 50%;
}

.find-pro-container .legend .marker-1 {
    background-color: #26F56D;
}

.find-pro-container .legend .marker-2 {
    background-color: #F41313;
}

/* map section */

.find-pro-container main .map-section {
    padding: 40px 60px 40px 60px;
}

.find-pro-container main .map-section .map-container {
    width: 100%;
    height: 600px;
    border: 2px solid black;
    margin-bottom: 30px;
}

.find-pro-container main .map-container {
    display: grid;
    grid-template-columns: repeat(19, 1fr);
    grid-template-rows: repeat(9, 1fr);
    border: 1px solid black;
}

.find-pro-container .map-container .user-profile {
    grid-column: 10;
    grid-row: 5;
}

        /* thumbtack */

.position-thumbtack {
    width: fit-content;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 6px;
}

.position-thumbtack .location-dot {
    font-size: 25px;
}

/* reusable button section */

.find-pro-container main .reusable-btn-section h1 {
    padding-left: 30px;
    padding-top: 30px;
}

.find-pro-container main hr {
    height: 10px;
    background-color: var(--yale-blue);
    margin-bottom: 60px;
    margin-top: 30px;
}
