/* Coolors Exported Palette - https://coolors.co/0c66ad-1f78b4-023d7b-002b65-97bcd5 */

/* CSS HEX */
$green-blue: #0c66adff;
$honolulu-blue: #1f78b4ff;
$yale-blue: #023d7bff;
$berkeley-blue: #002b65ff;
$powder-blue: #97bcd5ff;

/* CSS HSL */
$green-blue: hsla(206, 87%, 36%, 1);
$honolulu-blue: hsla(204, 71%, 41%, 1);
$yale-blue: hsla(211, 97%, 25%, 1);
$berkeley-blue: hsla(214, 100%, 20%, 1);
$powder-blue: hsla(204, 42%, 71%, 1);

/* SCSS HEX */
$green-blue: #0c66adff;
$honolulu-blue: #1f78b4ff;
$yale-blue: #023d7bff;
$berkeley-blue: #002b65ff;
$powder-blue: #97bcd5ff;

/* SCSS HSL */
$green-blue: hsla(206, 87%, 36%, 1);
$honolulu-blue: hsla(204, 71%, 41%, 1);
$yale-blue: hsla(211, 97%, 25%, 1);
$berkeley-blue: hsla(214, 100%, 20%, 1);
$powder-blue: hsla(204, 42%, 71%, 1);

/* SCSS RGB */
$green-blue: rgba(12, 102, 173, 1);
$honolulu-blue: rgba(31, 120, 180, 1);
$yale-blue: rgba(2, 61, 123, 1);
$berkeley-blue: rgba(0, 43, 101, 1);
$powder-blue: rgba(151, 188, 213, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(
  0deg,
  #0c66adff,
  #1f78b4ff,
  #023d7bff,
  #002b65ff,
  #97bcd5ff
);
$gradient-right: linear-gradient(
  90deg,
  #0c66adff,
  #1f78b4ff,
  #023d7bff,
  #002b65ff,
  #97bcd5ff
);
$gradient-bottom: linear-gradient(
  180deg,
  #0c66adff,
  #1f78b4ff,
  #023d7bff,
  #002b65ff,
  #97bcd5ff
);
$gradient-left: linear-gradient(
  270deg,
  #0c66adff,
  #1f78b4ff,
  #023d7bff,
  #002b65ff,
  #97bcd5ff
);
$gradient-top-right: linear-gradient(
  45deg,
  #0c66adff,
  #1f78b4ff,
  #023d7bff,
  #002b65ff,
  #97bcd5ff
);
$gradient-bottom-right: linear-gradient(
  135deg,
  #0c66adff,
  #1f78b4ff,
  #023d7bff,
  #002b65ff,
  #97bcd5ff
);
$gradient-top-left: linear-gradient(
  225deg,
  #0c66adff,
  #1f78b4ff,
  #023d7bff,
  #002b65ff,
  #97bcd5ff
);
$gradient-bottom-left: linear-gradient(
  315deg,
  #0c66adff,
  #1f78b4ff,
  #023d7bff,
  #002b65ff,
  #97bcd5ff
);
$gradient-radial: radial-gradient(
  #0c66adff,
  #1f78b4ff,
  #023d7bff,
  #002b65ff,
  #97bcd5ff
);
